<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
        {{{body}}}
</body>

</html>

{{!-- el nombre de estos archivos se configura en el router cuando va a renderizar, sin extensión y lo que se pone en el main es lo que viene acá dentro de BODY --}}